.card{
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    img{
        border-radius: 0.5rem;
        height: 100%;
        margin: 0px;
        opacity: 1;
        transition: opacity 0.5s;
        object-position: center center;
        object-fit: cover;
    }
    &-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

        #title{
            font-size: 1.5rem;
            font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            font-weight: 800;
            text-rendering: optimizeLegibility
        }
        
        section{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgb(206, 204, 201);
            a{
                color: rgb(206, 204, 201);
                text-decoration: none;
            }
            a:hover{
                color: orange;
            }
            padding: 6px;
            display: flex;
            flex-direction: column;
            p{
                padding: 3px;
            }
            #a:hover{
                color: orange;
            }
        }
    }
}

.gray-text{
    color: rgb(162, 156, 147);
}

.card-cont{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.status_icon::before{
    background-image: initial;
    background-color: rgb(90, 147, 59);
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
}